.subcategory__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  //   input {
  //     border: 2px solid black;
  //   }
}

.subcategory__modal__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 80px;
}

#subcategory-name {
  border: 1px solid black;
  width: 225px;
  height: 20px;
  border-radius: 5px;
  padding: 0 0 0 10px;
}

#subcategory-video,
#subcategory-image,
#subcategory-name {
  margin: 10px 0;
}

.category-delete {
  background-color: rgb(212, 39, 9);

  &:hover {
    background-color: rgb(129, 30, 13);
  }
}
